<link rel="stylesheet" type="text/css" href="xoopsmembers.css" />
<h1><{$smarty.const._MI_MEMBERS_NAME}></h1>

<{if $total > 0}>
	<div><{$smarty.const._MM_USERSFOUND|sprintf:$total}></div>
<{else}>
	<div><{$smarty.const._MM_NOFOUND}></div>
<{/if}>

<{foreach item="user" from=$users}>
	<{cycle reset=true print=false values="odd,even"}>
	<table class="outer membersUser">
		<tr>
			<td class="odd membersLeftColumn">
				<div class="membersUserAvatarBox">
					<a href="<{$xoops_url}>/userinfo.php?uid=<{$user->get('uid')}>">
						<img src="<{$user->getAvatarUrl()}>" class="memberUserAvatar" />
					</a>
				</div>
			</td>
			<td class="membersRightColumn">
				<div class="membersUserProperties">
					<div class="<{cycle values="odd,even"}>">
						<a href="<{$xoops_url}>/userinfo.php?uid=<{$user->get('uid')}>"><{$user->get('uname')|escape}></a>
					</div>
					<div class="<{cycle values="odd,even"}>">
						<{$user->get('name')|escape}>
					</div>
					<div class="<{cycle values="odd,even"}>">
						<{mailto address=$user->get('email') encode="javascript"}>
					</div>
					<div class="<{cycle values="odd,even"}>">
						<a href="<{$user->get('url')|escape}>" rel="external"><{$user->get('url')|escape}></a>
					</div>
					<div class="<{cycle values="odd,even"}>">
						<{$user->get('user_regdate')|xoops_formattimestamp:l}>
					</div>
					<div class="<{cycle values="odd,even"}>">
						<{$user->get('last_login')|xoops_formattimestamp:l}>
					</div>
				</div>
			</td>
		</tr>
	</table>
<{/foreach}>
