<link rel="stylesheet" type="text/css" href="xoopsmembers.css" />
<div>
	<a href="index.php" xmlns="http://www.w3.org/1999/html"><{$lang_search}></a>&nbsp;<span style="font-weight:bold;">&raquo;&raquo;</span>&nbsp;<{$lang_results}><br/><br/>
</div>

<{if $total_found != 0}>
	<div class="members_box">
		<{section name=i loop=$users}>
			<table class="outer" style="width:100%; margin-bottom: 20px;">
				<tr valign="middle">
					<td width="50%" rowspan="9" align="center" class="even">
						<a href="<{$xoops_url}>/userinfo.php?uid=<{$users[i].id}>">
							<img class="xoopsmembers_avator" src="<{$users[i].id|xoops_user_avatarize}>">
						</a>
					</td>
				</tr>
				<tr class="user_line">
					<td width="50%" class="odd">
						<a href="<{$xoops_url}>/userinfo.php?uid=<{$users[i].id}>"><{$users[i].name}></a>
					</td>
				</tr>
				<tr class="user_line">
					<td width="50%" class="even"><{$users[i].realname}></td>
				</tr>
				<tr class="user_line">
					<td width="50%" class="odd"><{$users[i].email}></td>
				</tr>
				<tr class="user_line">
					<td width="50%" class="even"><{$users[i].pmlink}></td>
				</tr>
				<tr class="user_line">
					<td width="50%" class="odd"><{$users[i].website}></td>
				</tr>
				<tr class="user_line">
					<td width="50%" align="center" class="even"><{$users[i].registerdate}></td>
				</tr>
				<tr class="user_line">
					<td width="50%" class="odd"><{$users[i].lastlogin}></td>
				</tr>
				<tr class="user_line">
					<td width="50%" class="even"><{$users[i].posts}></td>
				</tr>
			</table>
		<{/section}>
	</div>
	<div style="text-align:center">
		<{$pagenav}>
		<{$lang_numfound}>
	</div>
<{else}>
	<{$lang_nonefound}>
<{/if}>