<link rel="stylesheet" type="text/css" href="xoopsmembers.css" />
<h1><{$smarty.const._MI_MEMBERS_NAME}></h1>

<{if $total > 0}>
	<div><{$smarty.const._MM_USERSFOUND|sprintf:$total}></div>
<{else}>
	<div><{$smarty.const._MM_NOFOUND}></div>
<{/if}>

<{foreach item="user" from=$users}>
	<div class="member">
		<div class="member-head">
			<div class="identity-block">
				<div class="avatar">
					<a href="<{$xoops_url}>/userinfo.php?uid=<{$user->get('uid')}>">
						<img src="<{$user->getAvatarUrl()}>">
					</a>
				</div>
				<div class="username">
					<a href="<{$xoops_url}>/userinfo.php?uid=<{$user->get('uid')}>">
						<{$user->get('uname')|escape}>
					</a>
				</div>
			</div>
			<div class="account-block">
				<div class="account-row">
					<div class="account-caption">
						<{$smarty.const._MD_XOOPSMEMBERS_PHONETIC}>
					</div>
					<div class="account-value">
						<{$user->get('furigana')|escape}>
					</div>
				</div>
				<div class="account-row">
					<div class="account-caption">
						<{$smarty.const._MD_XOOPSMEMBERS_NAME}>
					</div>
					<div class="account-value">
						<{$user->get('name')|escape}>
					</div>
				</div>
				<div class="account-row">
					<div class="account-caption">
						<{$smarty.const._MD_XOOPSMEMBERS_COMPANRY}>
					</div>
					<div class="account-value">
						<{$user->get('campany')|escape}>
					</div>
				</div>
				<div class="account-row">
					<div class="account-caption">
						<{$smarty.const._MD_XOOPSMEMBERS_PHONE}>
					</div>
					<div class="account-value">
						<{$user->get('phone')|escape}>
					</div>
				</div>
			</div>
		</div>
		<div class="member-body">
			<div class="account-row">
				<div class="account-caption">
					<{$smarty.const._MD_XOOPSMEMBERS_SELF_INTRODUCTION}>
				</div>
				<div class="account-value">
					<{$user->get('self_introduction')|escape|nl2br}>
				</div>
			</div>
		</div>
	</div>
<{/foreach}>

<div class="pagenavi"><{xoops_pagenavi pagenavi=$pageNavigator}></div>
